.header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.headerButtonsDiv {
  display: flex;
  gap: 12px;
  margin-right: 28px;
}
