.menu {
    display: flex;
    gap: 28;
    align-items: center;
}

.menuItem {
    color: black;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.menuItem:hover {
    color: #1531ff;
}